/**
 * @file
 * Form styles for Jeffgpix theme.
 */

input,
select {
  max-width: 100%;
  box-sizing: border-box;
}

select {
  background: #fff url(../images/select-dropdown.png) no-repeat 95% 50%;
  padding: 4px 10px 2px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1em;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  padding: 10px;
  border: solid 2px #c9c9c9;
  border-radius: 4px;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border: solid 2px #969696;
}

input[type="submit"] {
  color: #000;
  border-radius: 1.5em;
  font-weight: bold;
  padding: 10px 25px;
  background-color: #c9c9c9;
}
input[type="submit"]:hover {
  color: #fff;
  background-color: #00e;
}

.form-item label {
  font-weight: bold;
}

/* Dropbuttons */
.dropbutton-multiple.open .dropbutton-widget {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.js .dropbutton li {
  margin-left: 0;
}
.js .dropbutton li a {
  text-decoration: none;
  margin-left: 0.25em;
}
.js .dropbutton li a:hover {
  text-decoration: underline;
}

/* Login */
@media screen and (max-width: 480px) {
  .user-login-form .form-actions {
    text-align: center;
  }
  .user-login-form .form-submit {
    width: 100%;
  }
}
