/**
 * @file
 * General styles for Jeffgpix theme.
 */

/* General Layout */
.layout-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.region-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
}
.site-branding {
  text-align: center;
}
.site-name {
  margin: 0;
}
.site-name a {
  color: #000;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .region-header {
    display: inherit;
    border-bottom: 0;
    margin-top: 10px;
  }
}

/* Messages */
.messages--error {
  border-color: #f9c9bf;
  border-width: 1px;
  box-shadow: none;
}

/* Footer */
.region-footer {
  color: #777;
}
.region-footer a {
  color: #555;
  text-decoration: none;
}
.region-footer a.is-active,
.region-footer a:hover {
  text-decoration: underline;
}
.view-current-user {
  text-align: center;
}
.region-footer {
  margin-top: 20px;
  border-top: 2px solid #ccc;
  padding: 20px 0;
}

/* Content */
h1.page-title {
  margin-top: 5px;
  text-align: center
}
.feed-icons {
  margin-top: 20px;
}

/* Nodes */
.node__submitted {
  margin-top: 20px;
  padding: 15px 0;
  border-top: 1px solid #ccc;
  font-size: 12px;
}

/* Pager */
.pager__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 40px;
}
.pager__item {
  padding: 0;
  margin: 0 5px;
}
.pager__item a {
  padding: 10px 12px 8px 12px;
  background-color: #f5f5f2;
  text-decoration: none;
}
.pager__item.is-active a,
.pager__item a:hover {
  color: #fff;
  background-color: #555;
}
